{% extends "base.html" %}{% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='css/about.css')}}"
/>{% endblock %} {% block body %}
<div class="container">
  <h3>About Us</h3>

  <p>
    Welcome to MyListing16, the go-to platform for posting and exploring
    classified ads with ease. Whether you're searching for a new home, looking
    to buy or sell items, or seeking job opportunities, we’re here to connect
    people in a fast and straightforward way.
  </p>
  <h3>Our Mission</h3>

  <p>
    We believe in offering everyone a platform to post ads freely, without any
    hidden fees or restrictions. Our goal is to create a community where buyers
    and sellers, employers and job seekers, can come together and find what they
    need—quickly and conveniently.
  </p>

  <h3>Why Free?</h3>
  <p>
    We understand the value of accessibility and want to ensure that anyone can
    list their ads without worrying about costs. By making ad postings free, we
    open up opportunities for individuals and businesses of all sizes to reach a
    broader audience.
  </p>
  <h3>Supporting Us</h3>

  <p>
    While posting ads on our platform is completely free, we appreciate the
    generosity of users who wish to support us. If you find our service helpful,
    we welcome donations to help maintain and improve the platform. Your
    contributions will allow us to keep the site running smoothly and add new
    features to enhance your experience. Thank you for being a part of our
    community. Together, we are creating a marketplace that works for everyone.
  </p>
</div>
{% endblock %}
