{% extends "base.html" %} {% block head %}
<title>MyListing16 - forget password</title>
{% endblock %} {% block body %}
<div class="container">
  <form method="POST" class="needs-validation" novalidate id="form">
    <h4 align="center">Please fill in this form to create a new password.</h4>
    <div class="mb-3">
      <label for="email"><b>Email</b></label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="Enter Email"
        maxlength="50"
        required
      />
      <div class="invalid-feedback">Please enter a valid email address</div>
    </div>
    <div class="mb-3">
      <label for="new_password"><b>New Password</b></label>
      <input
        type="password"
        class="form-control"
        name="new_password"
        id="new_password"
        placeholder="Enter Password"
        required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*?[#!@$%^&*_=+]).{8,16}$"
      />
      <div class="invalid-feedback">
        password is between 8-16 length<br />
        at least one lower case letter<br />
        at least one upper case letter<br />
        at least one number<br />at least one special character from
        "!@#$%^&*_=+"
      </div>
    </div>
    <div class="mb-3">
      <label for="password-repeat"><b>Repeat Password</b></label>
      <input
        class="form-control"
        type="password"
        name="repeat_password"
        id="repeat_password"
        placeholder="Repeat Password"
        required
      />
      <div class="invalid-feedback">required</div>
    </div>
    <div id="passwordMismatch" class="text-danger mb-3" style="display: none">
      Passwords do not match!
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    <div class="mb-3">
      <p>
        Already have an account?
        <a href="{{url_for('auth.log_in')}}">Sign in</a>.
      </p>
    </div>
  </form>
</div>
<script src="{{url_for('static',filename='js/validate_register.js')}}"></script>
{% endblock%}
